@use "../../../../../../src/styles/utils/media";

aside.form {
  @apply border-r-[1px] border-r-divider overflow-y-auto;

  grid-area: sidebar;
  width: 350px;

  .sticky {
    position: sticky;
    inset: 0;
  }

  section.group {
    @apply p-[1.6rem] border-b-[1px] border-b-divider bg-primary-bg;

    &:last-of-type:not(.alwaysBorder) {
      border: 0;
    }
  }

  &:not(.mobileLayout) {
    @include media.endAtFixed(870px) {
      display: none;
    }
  }

  &.mobileLayout {
    @include media.startAtFixed(870px) {
      display: none;
    }
  }
}